@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hello, world!</h1>
    <h2>The time on the server is @DateTime.Now</h2>
</div>


<h2>Grid</h2>
<ul>
    <li><a asp-controller="Players" asp-action="Example1">Ajax Sourced Data</a></li>
    <li><a asp-controller="Players" asp-action="Example2">Inline Editing</a></li>
    <li><a asp-controller="Players" asp-action="Example3">Nested Grids</a></li>
    <li><a asp-controller="Players" asp-action="Example4">Connected Grids</a></li>
    <li><a asp-controller="Players" asp-action="Example5">Grouping</a></li>
</ul>

<h2>Tree</h2>
<ul>
    <li><a asp-controller="Locations" asp-action="Example1">Checkboxes</a></li>
    <li><a asp-controller="Locations" asp-action="Example2">Drag And Drop</a></li>
    <li><a asp-controller="Locations" asp-action="Example3">Lazy Loading</a></li>
    <li><a asp-controller="Locations" asp-action="Example4">Tree View Master Detail</a></li>
</ul>
