
@{
    ViewData["Title"] = "TreeView Lazy Loading";
}

<div class="container-fluid">
    <div class="row">
        <div id="tree"></div>
    </div>
</div>

@section Scripts
    {
    <script type="text/javascript">
        $(document).ready(function () {
            $('#tree').tree({
                primaryKey: 'id',
                dataSource: '/Locations/LazyGet',
                lazyLoading: true
            });
        });
    </script>
        
}
