
@{
    ViewData["Title"] = "Bootstrap TreeView with Checkboxes";
}

<div class="container-fluid">
    <div class="row">
        <button id="btnSave" class="btn btn-default">Save Checked Nodes</button>
    </div>
    <div class="row">
        <div id="tree"></div>
    </div>
</div>

@section Scripts
    {
    <style>
        .row {
            margin: 10px;
        }
    </style>

    <script type="text/javascript">
        $(document).ready(function () {
            var tree = $('#tree').tree({
                primaryKey: 'id',
                uiLibrary: 'bootstrap4',
                dataSource: '/Locations/Get',
                checkboxes: true
            });
            $('#btnSave').on('click', function () {
                var checkedIds = tree.getCheckedNodes();
                $.ajax({ url: '/Locations/SaveCheckedNodes', data: { checkedIds: checkedIds }, method: 'POST' })
                    .fail(function () {
                        alert('Failed to save.');
                    });
            });
        });
    </script>

}
